.container-main{
    display: flex;
    width: 100%;
    
    margin-bottom: 20vh;
    
h1{
    font-weight: 600;
}
 .box-1{
     width: 60%;
     padding: 10%;
 }   
 .box-2{
    width: 40%;
    overflow: hidden;
    
    img{
        width: 125%;
        height: 100%;
        
    }
   
}  
}